.navbar {
  position: relative;
  font-family: 'Playfair Display', serif;
  height: 100px;
  padding: 10px;
  z-index: 9999;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: transparent;
}

.mainLogo {
  display: flex;

  justify-content: flex-start;
  margin-left: -90px;
  margin-bottom: -250px; /* Adjust the margin as needed to move the logo down */
}

.navbarLinks {
  position: absolute;
  top: 50%; /* Position the links vertically in the middle */
  left: 50%; /* Position the links horizontally in the middle */
  transform: translate(-50%, -50%); /* Center the links precisely */
  display: flex;
  gap: 100px;
  align-items: center;
  margin-left: 150px; /* Align the links vertically in the middle */
  /* Align the links horizontally in the middle */

  .homeLink {
    margin-right: 0px;

    // Styles for the Home link...
  }

  .productsLink {
    margin-right: 8px;
    // Styles for the Products link...
  }

  .cartLink {
    justify-self: flex-end;
    margin-left: 400px;
  }
}

.navbar a {
  text-decoration: none;
}

.test {
  margin-left: 500px;
}
