.heroImage {
  position: relative;
  overflow: hidden;
  z-index: -1;
}

.heroImage img {
  object-fit: cover;
  width: 100%;

  z-index: 1;
}

.checkoutForm {
  margin-top: 170px;
}

.inputField {
  display: block;
  width: 15%;
  margin-bottom: 15px;
}
